{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
{{ form_end(form) }}
