{% extends 'layout.html.twig' %}

{% block title %}Storage{% endblock %}
{% block header_title %}Edit Storage{% endblock %}
{% block header_breadcrumb %}Storage{% endblock %}
{% block body_content %}

    {{ include('asset_storage/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="col-sm-12 col-lg-2">
            {{ include('asset_storage/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row mt-2">
        <a href="{{ path('app_storage') }}">back to list</a>
    </div>

{% endblock %}

{% block optional_javascript %}
{% endblock %}