{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row cols-1 row-cols-md-3 g-4" style="width: 60vw;">
            <div class="col">
                <div class="card" style="width:500px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col text-start"><strong>Asset Counts</strong></div>
                            <div class="col text-end">
                                <a href="#" class="text-decoration-none">
                                    <i class="fa-solid fa-file-lines"></i> Report
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ render_chart(assetsTotalChart) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:500px;">
                    <div class="card-header">
                        <div class="row"> text-start
                            <div class="col text-start"><strong>Storage Sizes</strong></div>
                            <div class="col text-end">
                                <a href="#" class="text-decoration-none">
                                    <i class="fa-solid fa-file-lines"></i>
                                    Report
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {# TODO numbers aren't adding up #}
                        {{ render_chart(storageSizeChart) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:500px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col text-start"><strong>Repairs Per Month</strong></div>
                            <div class="col text-end">
                                <a href="#" class="text-decoration-none">
                                    <i class="fa-solid fa-file-lines"></i>
                                    Report
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ render_chart(repairsPerMonthChart) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
