{% block collection_form %}
    {% set assetAlreadyCollectedFlashBag = app.flashes('assetAlreadyCollected') %}
    {% if assetAlreadyCollectedFlashBag|length > 0 %}
        {% for label, collectedSlot in assetAlreadyCollectedFlashBag %}
            <div class="modal fade" id="assetCheckinCompletedModal" data-bs-backdrop="static" data-bs-keyword="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body align-middle text-center">
                            {% if collectedSlot is defined %}
                                <div class="display-4 text-bg-primary">Asset already collected:</div><br />
                                <div class="display-3 text-warning fw-bolder">{{ collectedSlot[1] }}</div>
                                <div class="display-2 text-warning fw-bolder">{{ collectedSlot[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            {% if collectedSlot[2] == true %}
                                <button class="btn btn-primary" data-bs-target="#assetCheckinSelectStorageModal" data-bs-toggle="modal">Add Another</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript">
                $(document).ready(function() {
                    const assetCheckinCompleteModal = $('#assetCheckinCompletedModal');
                    assetCheckinCompleteModal.modal('show');
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
