{% block collection_form %}
    {% set assetAlreadyStorageIsFullFlashBag = app.flashes('assetStorageIsFull') %}
    {% if assetAlreadyStorageIsFullFlashBag|length > 0 %}
        {% for label, storageName in assetAlreadyStorageIsFullFlashBag %}
            <div class="modal fade" id="assetStorageIsFullModal" data-bs-backdrop="static" data-bs-keyword="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body align-middle text-center">
                            {% if storageName is defined %}
                                <div class="display-2 text-warning fw-bolder">{{ storageName }}<br /> is full</div>
                                <div class="display-6 text-light fw-light">Asset must be placed to side, not in cart.</div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-primary" data-bs-target="#assetCheckinSelectStorageModal" data-bs-toggle="modal">Add Another</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript">
                $(document).ready(function() {
                    const assetStorageIsFullModal = $('#assetStorageIsFullModal');
                    assetStorageIsFullModal.modal('show');
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
