// /assets/styles/_colors.scss

$--color-red: #CF291D !default;
$--color-red2: #B50717 !default;
$--color-red3: #B30D02 !default;
$--color-black: #1D1D1D !default;
$--color-black2: #131313 !default;
$--color-black3: #1A1A1A !default;
$--color-black4: #000000 !default;
$--color-gray: #ECECEC !default;
$--color-gray2: #BFBFBF !default;
$--color-gray3: #8B8780 !default;
$--color-gray4: #585858 !default;
$--color-white: #FFFFFF !default;

$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--color-text-light: $--color-black;
$--color-text-secondary-light: $--color-gray2;
$--color-bg-light: $--color-gray;
$--color-accent1-light: $--color-red;
$--color-accent2-light: $--color-red2;
$--color-link-light: $--color-black2;
$--color-link-hover-light: $--color-red3;
$--color-border-light: $--color-black4;

$--color-text-dark: $--color-gray;
$--color-text-secondary-dark: $--color-black;
$--color-bg-dark: $--color-black3;
$--color-accent1-dark: $--color-red;
$--color-accent2-dark: $--color-red2;
$--color-link-dark: $--color-black2;
$--color-link-hover-dark: $--color-red3;
$--color-border-dark: $--color-gray4;
