// /assets/styles/global.scss

@import "~bootstrap/scss/bootstrap";
@import "_fonts.scss";

$font-family_1: 'Roboto', sans-serif;

html,body {
	font-family: $font-family_1;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
