// /assets/styles/global.scss

@import "~bootstrap/scss/bootstrap";
@import "_fonts.scss";
@import "_assetCheckInStepper.scss";
@import "_assetStorages.scss";

$font-family_1: 'Roboto', sans-serif;

body {
	font-family: $font-family_1;
	width: 100vw;
  max-height: 100vh;
	margin: 0;
  border: 0;
	outline: 0;
  overflow: hidden;
  padding-top: 45px;
}

html {
  position: relative;
}
