// /assets/styles/global.scss

@import "~bootstrap/scss/bootstrap";
@import "_fonts.scss";

$font-family_1: 'Roboto', sans-serif;

html,body {
	font-family: $font-family_1;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

#stepper {
  display: flex;
  width: 100%;
}

#stepper .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}

#stepper .stepIndicator.active {
  font-weight: 600;
}

#stepper .stepIndicator.finish {
  font-weight: 600;
  color: #009688;
}

#stepper .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}

#stepper .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}

#stepper .stepIndicator.finish::before {
  background-color: #009688;
  border: 3px solid #b7e1dd;
}

#stepper .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}

#stepper .stepIndicator.active::after {
  background-color: #a7ede8;
}

#stepper .stepIndicator.finish::after {
  background-color: #009688;
}

#stepper .stepIndicator:last-child::after {
  content: "";
  display: none;
}

#nextOpenSlot {
  color: #009688;
  font-weight: 700;
}
