<!DOCTYPE html>
<html data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#712cf9">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Flash Messages & Alerts #}
        {% include('flash_messages.html.twig') %}
        {% include('alerts/alert.twig') %}

        {# Top Navigation #}
        {% include('_top_navigation.html.twig') %}

        {# Begin Body #}
        {% block body %}{% endblock %}

        {# JavaScript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
