{{ storage|raw }}
{# View Asset Modal #}
<div class="modal fade" id="modal-checkin">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
{# ./viewAssetModal #}